<h1>Homepage</h1>

<%= link_to 'AboutUs', aboutus_path %>

 <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #fff; border-bottom: 4px solid #A3BB85; height: 95px;">

            <div id="header" class="container-fluid">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>


                  <a class="navbar-brand" style="color: darkseagreen; font-size: 53px; font-family: 'Alegreya', serif; margin-top: 4px; margin-left: 0px;" ></a>
                    <img src="/Content/Images/Crystal1new.png" alt="HTML5 Icon" style="width:350px;height:100px;">




               </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <div class="row">
                            <ul class="nav navbar-nav">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#aboutus">About Us</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#partners">Partners</a></li>
                                <li><a href="#projects">Projects</a></li>
                                <li><a href="#environmental">Environmental</a></li>
                                <li><a href="#certified">Certified</a></li>
                                <li><a href="#ourteam">Our Team</a></li>
                                <li><a href="#testimonials">Testimonials</a></li>
                                <li><a href="#contactus">Contact Us</a></li>
                                <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#aboutus">About Us <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#ourcompany">Our Company</a></li>
              <!--<li><a href="#section42">Section 4-2</a></li>-->
                            </ul>
                        </div>
                    </div>

         </div>
  </nav>


        <div id="home" class="container-fluid">
            <div class="img-overlay">

               <img src="/Content/Images/fan.jpg" class="img-responsive" alt="Homepage Image" style="height: 620px; width: 100%; padding-top: 30px;">
                <div class="overlay"><h4>Ireland's Leading</h4><br /><h1>Air Conditioning</h1><br />
                <h2>Specialists in Installation</h2>
                <br /><h3>Service & Maintenance</h3><br /><a href="#" class="btn-warning">Get A Quote</a> <a href="#" class="btn-warning">Get A Callout</a>  </div>

            </div>





        </div>

      <div class="jumbotron">

              <div class="container">
                  <div class="row">


                          <p>Over a Decade of Experience and Trust. Experts in the Installation of Air Conditioning Systems.</p>
                      </div>

                  </div>
              </div>



           <!-- <div class="col-sm-8">
            <div class="col-sm-4">
                <a href="#" class="button">Quote <i class="icon-chevron-right"></i></a>
                <a href="#" class="button">CallOut <i class="icon-chevron-right"></i></a> -->



           <!--<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Left</button>*@

   @* <a href="#" class="btn btn-info2" role="button">Get A Quote</a><a href="#" class="btn btn-info2" role="button">Get A Callout</a>*@-->
</div>
